@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: none;
}

.toolbar {
    padding: 10px;
    margin: 10px;
}

.tool,
.color-tool {
    width: 25px;
    height: 25px;
    border: 1px solid #475569;
    border-radius: 2px;
    margin-right: 5px;
    vertical-align: middle;
    cursor: pointer;
}

.tool {
    background-color: #e2e8f0;
}

.tool:hover,
.color-tool:hover {
    background-color: #f1f5f9;
    border-color: #334155;
}

.tool:active,
.color-tool:active {
    background-color: #cbd5e1;
}

.italic {
    padding-right: 2px;
}

.tool > sup {
    font-size: 10px;
}

.tool > sub {
    font-size: 10px;
}

.tool,
.tool > b,
.tool > i,
.tool > u,
.tool > span {
    font-size: 15px;
    font-family: "Work Sans", Arial, sans-serif;
}

.color-tool {
    display: inline-block;
}

.color-button {
    opacity: 0;
    position: absolute;
    width: 23px;
    height: 23px;
    cursor: pointer;
}

.color-input {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
    z-index: -10;
    transform: translate(11px, 9px);
}


#editor {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    width: calc(100vw - 20px);
    padding: 10px;
    margin: 10px;
    white-space: pre-wrap;
    user-select: initial;
}

#editor>* {
    user-select: initial;
}